html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.lurker {
  min-height: 100vh;
  display: flex;

  .subreddit-list {
    flex-basis: 250px;
  }

  .post-list {
    flex: 1;
  }

}

@import "subreddit.css";
@import "post.css";
