.subreddit-list {
  margin: 0;
  padding: 0;

  .subreddit {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }

  }

  .subreddit-input {

    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    i {
      margin-left: 5px;
    }

    input {

      flex: 1;
      border: none;
      border-bottom: 1px solid #bbb;
      font-size: 1rem;

      &:focus {
        outline: none;
      }

    }

  }

}
